.content {
    background-color: rgb(255, 255, 255);
}

.image {
    overflow: hidden;
}

.data {
    color: #6c6e70;
    font-size: 13px;
    margin-right: 3px;
}

.main h4 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.aside-social {
    display: flex;
    justify-content: space-between;
    right: 0px;
}

.aside-social img {
    height: 30px;
    width: 30px;
    border-radius: 10px
}

.aside-social img:hover {
    transform: scale(1.25);
}

.search input[type=text] {
    padding: 5px;
    font-size: 15px;
    float: left;
    width: 80%;
    margin-top: 10px;
}

#search {
    float: left;
    width: 20%;
    padding: 5px;
    background: rgb(128, 192, 245);
    color: white;
    font-size: 15px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    margin-top: 10px;
}

#search:hover {
    background: #0b7dda;
}

.search::after {
    content: "";
    clear: both;
    display: table;
}

.blog-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information {
    text-align: justify;
    font-size: 15px;
    font-weight: 200;
}

.blog-info img {
    height: 60px;
    margin-bottom: 5px;
}

form {
    font-size: 1em;
    font-weight: 500;
}

form input {
    width: 100%;
    border: 1px solid black;
}

input[type="submit"] {
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 30px;
    background: #1a81c5;
    color: white;
    padding: 0;
    transition: transform .2s;
}

input[type="submit"]:hover {
    transform: scale(1.05);
}

.tags a {
    justify-content: space-between;
}

.subscribe h4 {
    text-align: center;
    color: rgb(15, 15, 56);
    font-weight: 200;
    margin-bottom: 8px;
}

.subscribe input {
    margin: 2px 1px;
    padding: 4px;
}

.comment {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
}

.user-comment {
    margin-top: 10px;
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-comment h5 {
    margin: 5px 0px;
}

.comment img {
    height: 50px;
    border-radius: 25px;
    border: black 2px solid;
    display: flex;
    margin: 5px;;
} 

.aside-data h4 {
    font-size: 17px;
    text-align: center;
    color: rgb(15, 15, 56);
    font-weight: 200;
    margin: 15px 0;
    text-transform: uppercase;
}

.content {
    max-width: 1200px;
    padding: 0px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: 3fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    padding-left: 10px;
    grid-gap: 20px;
}

.article {
    margin-left: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
}

.article img{
    height: auto;
    width: 100%;
    max-width:100%;
    transition: transform .5s;
}

.article img:hover{
    transform: scale(1.2);
}

.article-data{
    padding: .875rem 0 .5rem;
}

.article-data a {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-right: 3px;
}

.aside {
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr;
    margin-right: 10px;
    max-width: 450px;
    text-align: center;
    margin-right: 20px;
}

.aside-wrapper {
    margin: 1.2em 0; 
    padding: 15px;
    width: 100%;
}

.aside-data {
    word-wrap: break-word;
    max-width: 250px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .content {
        grid-template-columns: 1fr;
    }
}