@media only screen and (max-width: 1240px) {
    .container {
        max-width: 1000px;
    }

    .main {
        padding: 2.5rem 0 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 940px) {

    .logo-words {
        display: none;
    }

}

@media only screen and (max-width: 780px) {
    .grid {
        grid-template-areas:
        "main"
        "aside";
    }

    .container {
        max-width: 600px;
    }

    .main {
        padding:2.2em;
        margin: 0 auto;
    }

    .header .container {
        display: block;
        position: relative;
    }

    .icons {
        display: block;
        margin: 16px 30px 0 0;
        top:0;
        right: 0;
        width: 25px;
    }

    .search {
        padding: 20px;
    }

    .social,
    .logo-words
    {
        display: none;
    }

    .logo {
        max-width: 100px;
        margin: 0 auto !important;
        margin-left: 20px;
    }

    .navigations {
        margin:0;
    }

    .navigations ul{
        display: block;
    }

    .article{
        max-width: 600px;
        padding: 0;
    }

    .nav-burger {
        display: block;
    }

    .nav {
        display:block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        display: none;
    }

    .nav-item {
        max-width: 740px;
        display: block;
        padding: 10px 0;
        background-color:#818d9a ;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        transition: backgrouund-color .2s;
        padding-left: 20px;
    }

    .nav-item:hover {
        background-color: #3d3c3c;
    }

    .nav-item a{
        color: #FFFFFF;
    }
}